body {
  --fore: #110c5a;
  --back: #97cfa2;

  background: var(--back);
  color: var(--fore);
  width: min(1000px, 100vw);
  margin: auto;
  padding: 2vw 3vw;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.title {
  font-size: 1.6rem;
  line-height: normal;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}

header,
body,
footer {
  display: flex;
}

header {
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: flex-end;
}

div.links-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

div.links-cont.vertical {
  flex-direction: column;
}

a.link-icon {
  display: flex;
  align-items: center;
  gap: 3px;
}

header svg {
  width: 1rem;
  height: 1rem;
}

form.standard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

ul.contacts {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul.contacts li {
  list-style: none;
}

.contact-item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

img.profile-pic {
  width: 50px;
  border-radius: 50%;
  border: 2px solid var(--fore);
}

img.settings {
  width: 150px;
  border-radius: 50%;
  border: 2px solid var(--fore);
}

hr {
  margin: 20px 0;
}

ul.chatroom {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  margin: 30px 0;
  padding: 0;
}

ul.chatroom + form {
  border: 2px dashed var(--fore);
  padding: 20px 30px;
}

li.chatbox {
  width: min(500px, 80vw);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

li.chatbox .chatbox-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 3% 5%;
  border: 2px solid var(--fore);
  border-radius: 10px;
}

li.chatbox img {
  border: 2px solid var(--fore);
}

p.date {
  margin-left: auto;
}

li.chatbox.self {
  margin-left: auto;

  .contact-item {
    margin-left: auto;
    flex-direction: row-reverse;
  }
}

li.chatbox.other {
  margin-right: auto;

  .contact-item {
    margin-right: auto;
  }
}
