body {
  --fore: #110c5a;
  --back: #97cfa2;

  background: var(--back);
  color: var(--fore);
  width: min(1000px, 100vw);
  margin: auto;
  padding: 2vw 3vw;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.title {
  font-size: 1.6rem;
  line-height: normal;
}

header,
body,
footer {
  display: flex;
}

header {
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: flex-end;
}

div.links-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

div.links-cont.vertical {
  flex-direction: column;
}

a.link-icon {
  display: flex;
  align-items: center;
  gap: 3px;

}

header svg {
  width: 1rem;
  height: 1rem;
}

form.standard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="checkbox"] {
  margin-right: 10px
}

ul.contacts {
  margin: 20px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul.contacts li {
  list-style: none;
}

.contact-item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

ul.contacts li img {
  width: 50px;
  border-radius: 50%;
  border: 2px solid var(--fore);
}
